#react-container {
  margin: 0 3em;
}

#react-container code {
  color: black;
  background-color: transparent;
  padding: 0;
}

.markdown-document {
  max-width: 960px;
  margin: 0 auto;
}

a.external-link:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: smaller;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}
