.s-expression ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.s-expression li {
  border-left: 1px solid lightgrey;
  padding-left: 1em;
}
.s-expression li:first-child {
  border-left: none;
  padding-left: 0;
}

div.s-expression {
  display: table;
  margin: 0 auto;
}
