.annotation-description p:last-of-type {
  margin-bottom: 0;
}

.annotation-class-list ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.annotation-class-list li {
  display: inline;
}
.annotation-class-list li:after {
  content: ", ";
}
.annotation-class-list li:last-child::after {
  content: "";
}

.annotation-slot-list ul {
  list-style: none;
  padding: 0;
}
.annotation-slot-list ul:empty::after {
  content: "(none)";
}

.annotation-port-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.annotation-port-list ol:empty::after {
  content: "(empty)";
}

.function-definition .container {
  padding: 0;
}
.function-definition div[class^="col"] {
  padding: 0;
}
