@import "../bootstrap.css";

.annotation-code {
  font-family: var(--bootstrap-font-family-monospace);
}

.annotation-class-list ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.annotation-class-list li {
  display: inline;
  font-family: var(--bootstrap-font-family-monospace);
}

.annotation-class-list li:after {
  content: ", ";
}

.annotation-class-list li:last-child::after {
  content: "";
}
