.concept-description p:last-of-type {
  margin-bottom: 0;
}

.external-link-list {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
.external-link-list li {
  display: inline;
  padding-right: 1ex;
}
.external-link-list li:after {
  content: ",";
}
.external-link-list li:last-child::after {
  content: "";
}

.subconcept-list {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
.subconcept-list li {
  display: inline;
}
.subconcept-list li:after {
  content: ", ";
}
.subconcept-list li:last-child::after {
  content: "";
}

.concept-domain-list ol {
  padding-left: 1em;
  margin: 0;
}
.concept-domain-list ol:empty {
  padding: 0;
}
.concept-domain-list ol:empty::after {
  content: "(empty)";
}
.concept-domain-list li:only-child {
  list-style: none;
  margin-left: -1em;
}
.concept-domain-list p {
  margin: 0;
}
