#home {
  max-width: 960px;
  margin: 0 auto;
}

#home dt {
  display: inline;
  font-weight: 500;
}
#home dt:before {
  content: "";
  display: block;
}
#home dt:after {
  content: ":";
  font-weight: normal;
}
#home dd {
  display: inline;
  margin-left: 0.5em;
}
