#home dt {
  display: inline;
  font-weight: bold;
}
#home dt:before {
  content: "";
  display: block;
}
#home dt:after {
  content: ":";
  font-weight: normal;
}
#home dd {
  display: inline;
  margin-left: 0.5em;
}
