.markdown-document div.s-expression {
  display: table;
  margin: 0 auto;
}

.markdown-document .s-expression-terminal {
  /* font-family: KaTeX_Math;
     font-size: 1.21em; */
  font-style: italic;
}
